.cards-list {
	&__item {
		max-width: 380px;
		//max-height: 491px;
		margin-bottom: 14px;
		//margin-right: auto;
		transition: 0.4s;
		@media (max-width: 1300px) {
			max-width: 314px;
		}
		transition: 0.4s;
		@media (max-width: 1101px) {
			max-width: 300px;
		}
		@media (max-width: 1059px) {
			max-width: 270px;
		}
		@media (max-width: 969px) {
			max-width: 380px;
		}
		@media (max-width: 899px) {
			max-width: 350px;
		}
		@media (max-width: 839px) {
			max-width: 330px;
		}
		@media (max-width: 799px) {
			max-width: 320px;
		}
		@media (max-width: 780px) {
			max-width: 315px;
		}
		@media (max-width: 769px) {
			max-width: 314px;
		}
		@media (max-width: 756px) {
			max-width: 300px;
		}
		@media (max-width: 721px) {
			max-width: 280px;
		}
		@media (max-width: 672px) {
			max-width: 260px;
		}
		@media (max-width: 625px) {
			max-width: 250px;
		}
		@media (max-width: 600px) {
			max-width: 480px;
		}
	}
	&__item:hover {
	transform: scale(1.02);
	}

	&__img{
		margin-bottom: 20px;
		background: #c8c4c4;
		transition: 0.4s;
		width: 100%;
	}
	&__img:hover {
		transform: scale(1.03);
	}

	&__date {
		font-family: $font-open-sans;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #818181;
		mix-blend-mode: normal;
		margin-bottom: 7px;
		@include font-desktop-pad(16,16);
		@include font-pad-mobile(16,14);
	}

	&__title {
		font-family: $font-montserrat;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
		color: #1E0606;
		transition: 0.4s;
		@include font-desktop-pad(24,24);
		@include font-pad-mobile(24,18);
	}

	&__title:hover {
		text-decoration-line: underline;
		color: #1E0606;
		cursor: pointer;
		transform: scale(1.03);
	}
	&__title:active {
		text-decoration-line: underline;
		color: #1E0606;
		opacity: 0.8;
	}

	&__text {
		font-family: $font-open-sans;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #1E0606;
		margin-top: 15px;
		padding-bottom: 20px;
		@include font-desktop-pad(18,18);
		@include font-pad-mobile(18,16);
	}
}