.category__cards {
	display: flex;
	position: relative;
	width: 280px;
	height: 270px;
	@include width-desktop-pad (280, 258.22);
	@include width-pad-mobile (258.22, 247);
	@include height-desktop-pad (270, 249);
	@include height-pad-mobile (249, 238);
	align-items: center;
	justify-content: center;
	transition: 0.4s;
	//margin-bottom: 23px;

	&-catalog {
		@include width-desktop-pad (280, 203);
		@include width-pad-mobile (203, 155);
		@include height-desktop-pad (270, 196);
		@include height-pad-mobile (196, 155);
	}

	&-apparel {
		background-color: #DBE4DB;
		//margin-right: 20px;
	}

	&-holiday {
		background-color: #EADDD3;
		//margin-right: 20px;
	}

	&-toys {
		background-color: #F8F2DA;
		//margin-right: 20px;
	}

	&-accessories {
		background-color: #D5D4E1;
	}

	&-sale {
		background-color: #F3D0DB;
	}

	&-adults {
		background-color: #E5EAF8;
	}
	
	&:hover {
		transform: scale(1.02);
	}
	&:hover &-link {
		text-decoration-line: underline;
	}

	&-link {
			position: absolute;
			font-family: $font-montserrat;
			font-weight: 700;
			font-size: 26px;
			@include font-desktop-pad(26,24);
			@include font-pad-mobile(24,18);
			line-height: 32px;
			text-transform: uppercase;
			color: #FFFFFF;
			text-align: center;
			max-width: 129px;
			transition: 0.4s;
		}

		&-acc {
			max-width: 192px;
			width: 100%;
		}

		&-link:hover {
			text-decoration-line: underline;
			transform: scale(1.05);
		}

		&-link:active {
			text-decoration-line: underline;
			opacity: 0.8;
		}

	.img-apparel {

	}

}

.category__cards:not(:last-child) {
	//margin-right: 20px;
}

.cards-indent {
	margin-left: 200px;
	@media (max-width: 1048px) {
		margin-left: 0;
	}
}