//FORM

.form-block {
	width: 100%;
	max-width: 680px;
	padding: 40px 42px;
	background: #E5EAF8;
	//transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
	//transform: scale(1)
	.form {
		label {
			font-family: $font-roboto;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #1E0606;
			margin-bottom: 7.2px;
		}
		input {
			background: #FFFFFF;
			border: 1px solid rgba(0, 0, 0, 0.2);
			font-family: $font-roboto;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: #1E0606;
			padding: 14px 0 11px 20px;
		}

		input:hover {
			border: 1px solid #C29974;
		}
		
		textarea:hover {
			border: 1px solid #C29974;
		}
		
		input:active {
			border: 1px solid #C29974;
		}
		
		textarea:active {
			border: 1px solid #C29974;
		}
		
		input:disabled {
			border: 1px solid #EBEBEB;
		}
		
		textarea:disabled {
			border: 1px solid #EBEBEB;
		}

		&__name {
			margin-top: 2px;
		}
		&__name-input {
			width: 100%;
			max-width: 600px;
			height: 50px;
			padding-left: 20px;
		}
		&__tel-email {
			display: flex;
			justify-content: space-between;
			@media (max-width: 425px) {
				flex-direction: column;
			}
		}
		&__tel {
			margin-right: 10px;
		}
		&__email {
			margin-left: 10px;
			@media (max-width: 425px) {
				margin-left: 0;
			}
		}
		&__tel-input,
		&__email-input {
			width: 100%;
			max-width: 290px;
			height: 50px;
		}
		
		&__name, 
		&__tel, 
		&__email, 
		&__mess {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			width: 100%;
		}

		&__mess-textarea {
			width: 100%;
			max-width: 600px;
			height: 150px;
			font-family: $font-open-sans;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: #1E0606;
			padding: 14px 0 11px 20px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}

		&__check {
			&-input {
				position: absolute;
				width: 19px;
				height: 19px;
				z-index: -1;
				opacity: 0;
			}

			label {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				align-items: center;
			}

			&-input + label {
				display: inline-flex;
				align-items: center;
				user-select: none;
				margin-bottom: 18px;
			}
			&-input+ label::before {
				content: '';
				display: inline-block;
				width: 100%;
				max-width: 19px;
				height: 19px;
				/*flex-shrink: 0;
				flex-grow: 0;*/
				border: 2px solid #C29974;
				border-radius: 3px;
				margin-right: 10px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 50% 50%;
				cursor: pointer;
				margin-right: 15px;
			}
			&-input:checked+ label::before {
				background-image: url("../../img/icon/chek-checked.svg");
				background-size: 15px 17px;
				background-position: 100% 100%;
				/*width: 11.43px;
				height: 12.5px;*/
			}
			&-input:active ~ .form__check-label {
				opacity: 0.2;
			}
			label:active {
				opacity: 0.2;
			}
			label:disabled {
				opacity: 0.2;
			}

			//button
			&-input ~ .button-submit {
				display: none;
			}
			&-input:checked ~ .button-disabled  {
				display: none;
			}
			&-input:checked ~ .button-submit {
				display: block;
			}

			.button-submit,
			.button-disabled {
				width: 106px;
				margin-bottom: 4px;
			}

			.button-submit{
				transition: 0.4s;
			}
			&-input:checked ~ .button-submit:hover {
				transform: scale(1.04);
			}
		}
	}
}

//close
.popup-close {
	background: rgba(125, 151, 218, 0.0);
	background-image: url(./../img/icon/CLOSE.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	transition: 0.4s;
	@media (max-width: 768px) {
		position: relative;
		top: -25px;
		left: -25px;
	}
}

.popup-close:hover {
	opacity: 0.7;
	transform: scale(1.3);
}

.popup-close:active {
	opacity: 0.4;
}