<li class="category__cards @@class @@class-mod @@class-size">
	<img class="@@image-class" src="@@image-src" width="@@image-width" height="@@image-height" alt="@@image-alt">
	<a href="@@card-link" class="category__cards-link @@class-link">@@card-text</a>
</li>

<!-- <li class="category__cards @@class @@class-mod @@class-size">
	<img class="img-apparel" src="@@image-src" width="@@image-width" height="@@image-height" alt="@@image-alt">
	<a href="@@card-link" class="category__cards-link @@class-link">@@card-text</a>
</li> -->