<header class="header">
	<div class="container container-header">
			<div class="left-block">
				<div class="logo">
					<a href="./index.html">
						<img class="logo__img" src="./img/image/LOGO.svg" width="100" height="52" alt="logo">
					</a>
				</div>
				<div class="i">
					<button class="button-menu" type="button">Menu</button>
					<button class="button-menu-close" type="button" id="contain">&times;</button>
				</div>
			</div>
			<nav class="nav">
				<ul class="list-header">
					<li class="list-header__item"><a href="./blog.html" class="list-header__link">blog</a></li>
					<li class="list-header__item"><a href="./catalog.html" class="list-header__link">catalog</a></li>
					<li class="list-header__item"><a href="#" class="list-header__link">about us</a></li>
					<li class="list-header__item"><a href="./animation.html" class="list-header__link">animation</a></li>
					<li class="list-header__item"><a href="./svg.html" class="list-header__link">svg</a></li>
					<li class="list-header__item"><a href="./grid.html" class="list-header__link">grid</a></li>
				</ul>
			</nav>
		<div class="list-right">
			<div class="list-right__search">
				<img class="list-right__icon" src="./img/icon/search.svg" width="24" height="24" alt="search-image">
			</div>
			<a href="./contact-us.html" class="list-right__link">contact us</a>
		</div>
	</div>
</header>
<section class="section-menu">
	@@include('blocks/title.html', {
		"title-text": "menu mobile",
		"class": "visuallyhidden",
	})
	<div class="container container-menu">
		<ul class="menu-mobile">
			<li class="menu-mobile__item"><a href="./blog.html" class="menu-mobile__link">blog</a></li>
			<li class="menu-mobile__item"><a href="./catalog.html" class="menu-mobile__link">catalog</a></li>
			<li class="menu-mobile__item"><a href="#" class="menu-mobile__link">about us</a></li>
			<li class="menu-mobile__item"><a href="./animation.html" class="menu-mobile__link">animation</a></li>
			<li class="menu-mobile__item"><a href="./svg.html" class="menu-mobile__link">svg</a></li>
			<li class="menu-mobile__item"><a href="./grid.html" class="menu-mobile__link">grid</a></li>
			<li><a href="./contact-us.html" class="menu-mobile__contact">contact us</a></li>
		</ul>
	</div>
</section>

<script src="js/header.js" defer></script>


