<div class="switches">
	<button class="arrow arrow-left" type="button"></button>
	<ul class="list-pages">
		<li class="list-pages__item"><button class="list-pages__button" type="button">1</button></li>
		<li class="list-pages__item"><button class="list-pages__button" type="button">2</button></li>
		<li class="list-pages__item"><button class="list-pages__button" type="button">3</button></li>
		<li class="list-pages__item"><button class="list-pages__button" type="button">4</button></li>
	</ul>
	<button class="arrow arrow-right" type="button"></button>
</div>
</div>